<div class="card card-block" style="margin-left: 10px; margin-bottom: 10px">
  <div class="card-body">
    <h5 class="card-title">Add timesheet</h5>
    <form #f="ngForm" (ngSubmit)="addTimesheet()">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="type" class="required-label">Select Task</label>
            <select
              id="taskId"
              #taskId="ngModel"
              class="form-control"
              [(ngModel)]="selectedTask"
              name="taskId"
              required
              (change)="OnselectTaskChange()"
            >
              <option [ngValue]="k" *ngFor="let k of tasks">
                {{ k.name }}
              </option>
            </select>
            <div
              class="form-control-feedback"
              style="color: red"
              *ngIf="taskId.errors && (taskId.dirty || taskId.touched)"
            >
              <p *ngIf="taskId.errors.required">field is required</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="type" class="required-label">Select Day</label>
            <input
              type="text"
              required
              class="form-control"
              #workDate="ngModel"
              name="workDate"
              class="form-control"
              placeholder="Datepicker"
              bsDatepicker
              [(ngModel)]="selectedDate"
            />
            <div
              class="form-control-feedback"
              style="color: red"
              *ngIf="workDate.errors && (workDate.dirty || workDate.touched)"
            >
              <p *ngIf="workDate.errors.required">field is required</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="type" class="required-label">Effort Time</label>
            <input
              type="number"
              class="form-control"
              name="effortTime"
              required
              min="1"
              #friday="ngModel"
              pattern="^([1-9]|1[0-9]|2[0-4])$"
              [(ngModel)]="timeSheetDetailsAdd.effortTime"
            />
            <div
              class="form-control-feedback"
              style="color: red"
              *ngIf="friday.errors && (friday.dirty || friday.touched)"
            >
              <p *ngIf="friday.errors.required">field is required</p>
              <p *ngIf="friday.errors.pattern">
                Time must be from 0 to 24 hours
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="form-group">
            <button
              [disabled]="submitted || !f.valid"
              type="submit"
              class="btn btn-primary"
              style="margin-top: 30px"
            >
              Add
            </button>
            <button
              type="button"
              class="btn btn-primary"
              style="margin-left: 25px; margin-top: 30px"
              (click)="cancel()"
            >
              cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
