<h1>Employee List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr *ngFor="let item of employees">
        <td>{{item.id}}</td>
        <td><a [routerLink]="['/timesheetDetails', item.id, startDate, endDate]">{{item.code}}</a></td>
        <td>{{item.name}}</td>
        <td>{{item.totalEffort}}</td>
        <td>{{item.avgEffort}}</td>
    </tr>
</table>
