h1{
    color: grey
}

.table {
    border-collapse: collapse;
    width: 100%;
    td, th{
        border: 1px solid #ddd;
        padding: 7px;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #1c6ca5;
        color: white;
      }
      tr:hover {background-color: #ddd;}
  }



.arrow{

  p {
    display: inline-block;
    font-size: 35px;
    margin-left: 15px;
    margin-right: 15px;
    color: dimgray;
  }

  i {
    border: solid dimgray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;

  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  a{
    cursor: pointer;
  }

  a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
 }

}

