<div class="row">
  <div class="col-sm-4" style="margin-left: 10px">
      <h1></h1>
  </div>
</div>

<div class="row" style="margin-left: 10px; margin-bottom: 10px">
  <div class="col-sm-5">
      <div>
        <label for=""> Select Employee </label>
        <select  id="Id" #Id="ngModel" class="form-control" [(ngModel)]="selectedEmployee" name="Id" (change)="selectEmployee();">
          <option selected="selectedEmployee?.name" value="selectedEmployee?.id"></option>
          <option [ngValue]="k" *ngFor="let k of employees">
            {{k.name}}
          </option>
        </select>
    </div>
  </div>
  <div>

  </div>
  <div class="col-sm-6" style="margin-bottom: 10px; text-align: right;">
      <div>
          <i class="fas fa-plus-circle" style="font-size: 2em; cursor: pointer; margin-top: 15px" (click)="showAddForm()"></i>
      <!-- <button class="btn btn-primary btn-lg" > Add</button> -->
      </div>
    </div>
</div>



<div class="row">
  <div class="col" style="margin-left: 10px; margin-bottom: 10px">
      <timesheetDetailsAdd (timesheetCreated)="addTimesheet()" (timesheetCanceled)="hideAddForm()" [hidden]="hideAdd"></timesheetDetailsAdd>
  </div>
    <div class="col">
      <div>

      </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="arrow">
      <a (click)="previousWeek()"><i class="arrow left"></i></a>
      <p>{{getDateRange()}}</p>
      <a (click)="nextWeek()"><i class="arrow right"></i></a>
  </div>
</div>


      <div class="col-sm-12" style="overflow-x:auto;overflow-y:hidden;">
        <p style="color: dimgray; margin-left: 10px; font-weight: 500"></p>
          <table class="table">
              <tr>
                  <th>Task</th>
                  <th *ngFor="let workDayDetail of workDayDetailList">{{workDayDetail.dayName}}</th>
              </tr>
              <tr *ngFor="let item of timesheetDetailsList">
                  <td>{{item.taskName}}</td>

                  <td *ngFor="let workDayDetail of workDayDetailList">{{getEffortWork(item.timesheetDetails,workDayDetail)}}</td>
              </tr>
              <tr>
                  <td><b>Total</b></td>
                  <td *ngFor="let workDayDetail of workDayDetailList"><b>{{workDayDetail.totalEffort}}</b></td>
              </tr>
          </table>
      </div>
<div class="row">
<div class="col-sm-11" style="margin-left: 10px;text-align: right;">
<div>
    <button [routerLink]="['']" class="btn btn-primary">Back to list</button>
</div>
</div>

</div>
